<div class="content">
  <h2 class="section-title">Sobre o podcast</h2>
  <p>
    O Fala Basket! é produzido por Arthur Moreira e Henrique Lima com o apoio do site Draft
    Brasil. Semanalmente os apresentadores recebem um convidado e debatem sobre um tema relacionado
    ao esporte em âmbito amador ou profissional.
  </p>
  <p>
    Dirigentes, técnicos, jogadores, jornalistas entre outras figuras relacionads ao basquete
    brasileiro e internacional estão entre nossos convidados. Siga-nos no twitter @BasketFala e
    assine o nosso feed de episódios em seu player favorito!
  </p>
  <p class="links">
    <a href="https://www.draftbrasil.net" target="_blank">DraftBrasil.net</a> •
    <a href="https://api.draftbrasil.net/podcast/feed" target="_blank">RSS Feed</a>
  </p>
</div>