<div class="content">
  <h2 class="section-title">Apresentadores</h2>
  <div class="host">
    <div class="host-info">
      <span class="host-name">Arthur Moreira</span>
      <span class="host-description">
        Arthur Moreira está em sua quarta temporada na primeira divisão da NCAA como assistente
        técnico e diretor de recrutamento da University of San Francisco. A equipe terminou no top4
        de sua conferência em duas das três temporadas.
        <br><br>
        Também serviu por dois anos como assistente técnico da Sonoma State University. Em suas duas
        temporadas a equipe se tornou a melhor defesa da NCAA entre 303 equipes da segunda divisão.
      </span>
    </div>
    <div class="host-photo">
      <img src="https://static.draftbrasil.net/fala-basket/images/arthur.jpg" alt="Arthur Moreira">
    </div>
  </div>
  <div class="host reverse">
    <div class="host-info">
      <span class="host-name">Henrique Lima</span>
      <span class="host-description">
        Henrique Lima Gonçalves, nascido em 3 de dezembro de 1983, em Belo Horizonte, é professor de
        Educação Física formado pela Universidade Federal de Viçosa e treinador de basquetebol com
        homologação da Escola Nacional de Treinadores de Basquetebol/Confederação Brasileira de
        Basquetebol. Na imprensa, foi editor, colunista e repórter do site Draft Brasil. Atualmente,
        exerce o cargo de professor.
      </span>
    </div>
    <div class="host-photo">
      <img src="https://static.draftbrasil.net/fala-basket/images/henrique.jpg" alt="Arthur Brenke">
    </div>
  </div>
</div>