<div class="episode-info">
  <span class="episode-title">#{{episode.episodeNumber}} - {{episode.title}} [{{episode.duration}} mins]</span>
  <!-- <span class="episode-title">#7 - Piloto (com Ricardo Stabolito) [39 mins]</span> -->
  <span class="episode-subtitle">publicado em {{episode.publishDate | date}}</span>
  <span class="episode-description">{{episode.description}}</span>
  <span class="episode-playback">
    <app-player [id]="episode.slug" [src]="episode.audio"></app-player>
  </span>
</div>
<div class="episode-highlight">
  <img src="{{episode.highlight}}" class="responsive" alt="{{episode.title}}">
</div>